* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Albert Sans';
}

:root {
  --max-page-width: 1280px;
  --page-margin: 24px;
  --default-border-radius: 4px;
  --color-primary: #6F40BD;
  --color-primary-variant: #D33396;
  --color-secondary: White;
  --color-on-secondary: #1B0044;
  --surface-color: #F5F5F5;
}

p {
  font-size: 18px;
}

@media only screen and (max-width: 700px) {
  :root {
    --page-margin: 12px;
  }
}